CLIENT_PORT=80
VITE_API_URL=http://localhost:3000/api/v1
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here
VITE_SAWERIA_URL=https://saweria.co/fermanferdaus
VITE_FEEDBACK_EMAIL=your_email@example.com
VITE_CONTACT_EMAIL=fermanf91@gmail.com
VITE_CONTACT_GITHUB=https://github.com/fermanferdaus
VITE_CONTACT_INSTAGRAM=https://instagram.com/fermanferdaus_